{% extends 'base.html.twig' %}

{% block title %} {{task.name}} {% endblock %}

{% block body %}
    <h1>{{task.name}}</h1>
    <p>{{task.description}}</p>
    <hr>
    <a href="/">Go Back</a>
{% endblock %}